/* Fonts from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/*Body*/

h1, h3 {
  font-family: 'La Belle Aurore', cursive;
}

body {
  font-family: 'Handlee', cursive; 
}

.pages-background {
  color: transparent;
}

.pages-background .container {
  color: black;
}

.pink-button {
  background-color: #9A7296;
  color: #F5E3F2;
}

.pink-button:hover {
  color: black;
}


/*Navbar*/

.nav-logo {
  height: 30px;
}

.navbar {
  position: sticky;
  width: 100%;
  border-radius: 0;
  background-color: rgb(242, 232, 241);
}


/*Jumbotron*/

 .jumbotron-fluid { 
  background-image: url('https://res.cloudinary.com/dbgnna5vv/image/upload/v1678209421/background-makeitsew_e04df4.jpg');
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.index-heading {
  color: #9a7296;
  font-size: 10vh;
}

.blurb-text {
  color: black;
  font-size: 2vh;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.8);
  margin-top: 25vh;
}

/*Footer*/

.footer {
  background-color: rgba(242, 232, 241, 0.8);
  height: 50px;
  padding: 40px;
}

.footer ul {
  text-align: center;
}

.footer li {
  list-style-type: none;
  padding-right: 60px;
  display: inline-block;
}

.footer a {
  color: #9a7296;
  font-size: 30px;
}

/* Cards */

.panel-heading {
  background-color: #9A7296;
  opacity: 0.8;
  color: #F5E3F2;
  font-size: large;
}

.panel-heading:hover {
  color: black;
}

.panel-background a {
  text-decoration: none;
}

.panel-background {
  background-color: rgba(255, 255, 255, 0.8);
}

.custom-img-size-index {
  opacity: 1.0;
  z-index: 1;
  width: auto;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-footer{
  opacity: 0.8;
}

.panel-footer a {
  color: black;
}

.panel-footer a:hover {
  color: #9a7296;
}

.index-likes {
justify-content: right;
}

.featured-cards {
  height: 70vh;
}

/*Detailed pattern page*/

.pattern-detail-display {
  position: relative;
}

.comment-section {
  height: 45vh;
  font-size:medium;
}

.comment-form {
  color: transparent;
}

.author-name, .comment-text {
  font-weight: bold;
}

.download-button {
  position: absolute;
  right: 0;
}

.edit-button {
  display: inline-block;
}

.delete-button {
  display: inline-block;
  background-color:#e06075;
  color: #F5E3F2;
}

.delete-button:hover{
  color: black;
}

.btn-danger {
  float: left;
}

.btn-like {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 24px;
  color: #9a7296;
  cursor: pointer;
}

.btn-like:active,
.btn-like:hover {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.like {
  font-size: large;
}

/*Post pattern page*/

.post-pattern-form {
  position: relative;
  height: 150vh;
}
.post-pattern-form button {
  position: absolute;
  right: 0;
}

/* Liked patterns page*/

.liked-patterns {
  height: 120vh;
}

/* My patterns page */

.my-patterns {
  height: 120vh;
}

/*Pagination*/

.pagination {
  display: flex;
  justify-content: center;
  height: 10vh;
}


/* Media queries */

