{% extends "base.html" %}

{% block content %}
<!-- Sets body class for styling-->
{% block body_class %}
{% if page == 'all_patterns' %}
pages-background
{% endif %}
{% endblock %}
<!-- All patterns display, iterating through posted and approved patterns -->
<div class="container all-patterns-view">
    <div class="row">
        <h1 class="text-center">All patterns</h1>
        {% for post in posted_patterns%}
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="panel panel-background">
                <a href="{% url 'pattern_detail' post.slug%}">
                    <div class="panel-heading">{{post.title}}</div>
                </a>
                {% if 'placeholder' in post.featured_image.url %}
                <div class="panel-body">
                    <img src="https://res.cloudinary.com/dbgnna5vv/image/upload/v1677756963/placeholder_makeitsew_zlh2qk.jpg"
                        class="img-responsive custom-img-size-index " alt="Image"></div>
                {% else %}
                <div class="panel-body">
                    <img src="{{ post.featured_image.url }}" class="img-responsive custom-img-size-index"
                        alt="Featured pattern image">
                </div>
                {% endif %}
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="author">Added by: {{post.author}}</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p class="index-likes"><i class="far fa-heart"></i> {{post.number_of_likes}}</p>
                            </div>
                        </div>
                        <div class="row panel-footer">
                            <div class="col-sm-12">
                                <a href="{% url 'pattern_detail' post.slug%}"><p class="panel-excerpt">{{post.excerpt}}</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div><br>
    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; prev</a>
          {% endif %}
      
          <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
      
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {%endif%}
{% endblock %}