{% extends "base.html" %}


{% load crispy_forms_tags %}

{% block content %}
<!-- Edit pattern form -->
<div class="container post-pattern-form">
    <h1>Edit pattern</h1>
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data" action="{% url 'edit_pattern' slug=post.slug %}">
        {% csrf_token %}
        <!-- Title field -->
        <div class="form-group">
            {{ form.title|as_crispy_field }}
        </div>
        <!-- Description field -->
        <div class="form-group">
            {{ form.description|as_crispy_field }}
        </div>
        <!-- File field -->
        <div class="form-group">
            {{ form.file|as_crispy_field}}
        </div>
        <!-- Featured image field -->
        <div class="form-group">
            {{ form.featured_image|as_crispy_field }}
        </div>
        <!-- Difficulty field -->
        <div class="form-group">
            {{ form.difficulty|as_crispy_field }}
        </div>
        <!-- Suggested fabrics field -->
        <div class="form-group">
            <label class="fabrics">Suggested Fabrics</label>
            <ul id="{{ form.suggested_fabrics.id_for_label }}" class="fabric-list">
                {% for fabric in form.suggested_fabrics %}
                <li class="form-check-inline">
                    {{ fabric.tag }}
                    <label class="form-check-label" for="{{ fabric.id_for_label }}">{{ fabric.choice_label }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <button type="submit" class="btn pink-button">Submit pattern</button>
    </form>
    {% endif %}
</div>
{% endblock %}