{% extends "base.html" %}

{% block content %}
<div class="jumbotron-fluid">
    <div class="container text-center">
        <h1>Make it Sew</h1>
        <p>Blurb</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        {% for post in posted_patterns|slice:":3" %}
        {% if post.featured_pattern %}
        <div class="col-sm-4">
            <div class="panel panel-background">
                <div class="panel-heading">{{post.title}}</div>
                {% if 'placeholder' in post.featured_image.url %}
                <div class="panel-body">
                    <img src="https://res.cloudinary.com/dbgnna5vv/image/upload/v1677756963/placeholder_makeitsew_zlh2qk.jpg"
                        class="img-responsive custom-img-size-index " alt="Image"></div>
                {% else %}
                <div class="panel-body">
                    <img src="{{ post.featured_image.url }}" class="img-responsive custom-img-size-index"
                        alt="Featured pattern image"></div>
                {% endif %}
                <div class="panel-footer" class="author">
                    <p>Author: {{post.author}}</p>
                </div>
                <div class="panel-footer" class="panel-footer">
                    <p>{{post.excerpt}}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {%endfor%}

    </div><br>

    {% endblock %}