{% extends "base.html" %}

{% block content %}

<div class="jumbotron-fluid">
    <div class="container text-center">
        <h1 class="index-heading">Make it Sew</h1>
        <p class="blurb-text">
            Welcome to Make it Sew - an easy to use online platform for sewing enthusiasts! <br>
            Whether you're an experienced sewist or just starting out, Make it Sew has something for everyone.
            <br>
            <br>
            Make it Sew allows crafters to post and share their patterns and projects with others, giving you access to
            a wide selection of patterns to explore and enjoy.
            You can easily browse through patterns, like and unlike them, and save them for your next project.
            <br>
            <br>
            But Make it Sew isn't just about sharing patterns, it's also a community of like-minded sewing enthusiasts
            who are passionate about creating beautiful things.
            We encourage you to connect with others to share tips and tricks in the comment sections and spread the love
            of crafting and sewing!
            <br>
            <br>
            Join the Make it Sew community today and start sharing and creating your own amazing sewing projects!
            <br>
        </p>
    </div>
</div>
<br>
<div class="container featured-cards">
    <div class="row">
        <div>
            <h2 class="text-center">Featured patterns</h2>
        </div>
        {% for post in posted_patterns %}
        {% if post.featured_pattern %}
        {% if forloop.counter <= 3 %}
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="panel panel-background">
                <a href="{% url 'pattern_detail' post.slug%}">
                    <div class="panel-heading">{{post.title}}</div>
                </a>
                {% if 'placeholder' in post.featured_image.url %}
                <div class="panel-body">
                    <img src="https://res.cloudinary.com/dbgnna5vv/image/upload/v1677756963/placeholder_makeitsew_zlh2qk.jpg"
                        class="img-responsive custom-img-size-index " alt="Image">
                </div>
                {% else %}
                <div class="panel-body">
                    <img src="{{ post.featured_image.url }}" class="img-responsive custom-img-size-index"
                        alt="Featured pattern image">
                </div>
                {% endif %}
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="author">Added by: {{post.author}}</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p class="index-likes"><i class="far fa-heart"></i> {{post.number_of_likes}}</p>
                        </div>
                    </div>
                    <div class="row panel-footer">
                        <div class="col-sm-12">
                            <a href="{% url 'pattern_detail' post.slug%}">
                                <p class="panel-excerpt">{{post.excerpt}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {%endfor%}
        <div class="text-center">
            {% if not user.is_authenticated %}
            <a href="{% url 'account_login'%}"><button class="btn btn-rounded pink-button">Sign in to view all
                    patterns</button></a>
            {%endif%}
        </div>
    </div><br>
    {% endblock %}