{% extends "base.html" %}

{% block content %}
<!-- Sets body class for styling-->
{% block body_class %}
{% if page == 'liked_patterns' %}
pages-background
{% endif %}
{% endblock %}

<!-- Display liked patterns -->
<div class="container ">
    <div class="row liked-patterns">
        {% for post in liked_patterns %}
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="panel panel-background">
                <a href="{% url 'pattern_detail' post.slug%}">
                    <div class="panel-heading">{{post.title}}</div>
                </a>
                {% if 'placeholder' in post.featured_image.url %}
                <div class="panel-body">
                    <img src="https://res.cloudinary.com/dbgnna5vv/image/upload/v1677756963/placeholder_makeitsew_zlh2qk.jpg"
                        class="img-responsive custom-img-size-index " alt="Image"></div>
                {% else %}
                <div class="panel-body">
                    <img src="{{ post.featured_image.url }}" class="img-responsive custom-img-size-index"
                        alt="Featured pattern image">
                </div>
                {% endif %}
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="author">Added by: {{post.author}}</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p class="index-likes"><i class="far fa-heart"></i> {{post.number_of_likes}}</p>
                        </div>
                    </div>
                    <div class="row panel-footer">
                        <div class="col-sm-12">
                            <a href="{% url 'pattern_detail' post.slug%}"><p class="panel-excerpt">{{post.excerpt}}</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div><br>
    <!-- Displayed if user have not liked any patterns -->
    {% if liked_patterns|length == 0 %}
    <div class="container-fluid logout-page text-center">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h1>You haven't liked and saved any patterns yet!</h1>
                    <br>
                    <div>
                        <a href="{%url 'all_patterns' %}"><button class="btn btn-rounded pink-button">Check out all patterns!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <!-- Pagination -->
    {% if liked_patterns.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if liked_patterns.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ liked_patterns.previous_page_number }}">&lsaquo; prev</a>
            {% endif %}
    
            <span class="current-page">
                Page {{ liked_patterns.number }} of {{ liked_patterns.paginator.num_pages }}
            </span>
    
            {% if liked_patterns.has_next %}
            <a href="?page={{ liked_patterns.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ liked_patterns.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

  
    {% endblock %}