{% extends "base.html" %}

{% block content %}

{% block body_class %}
{% if page == 'my_patterns' %}
pages-background
{% endif %}
{% endblock %}


<div class="container my-patterns">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }} alert alert-success" role="alert" {% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {%endif%}
    <div class="row">
        {% for post in my_patterns %}
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="panel panel-background">
                <a href="{% url 'pattern_detail' post.slug%}">
                    <div class="panel-heading">{{post.title}}</div>
                </a>
                {% if 'placeholder' in post.featured_image.url %}
                <div class="panel-body">
                    <img src="https://res.cloudinary.com/dbgnna5vv/image/upload/v1677756963/placeholder_makeitsew_zlh2qk.jpg"
                        class="img-responsive custom-img-size-index " alt="Image"></div>
                {% else %}
                <div class="panel-body">
                    <img src="{{ post.featured_image.url }}" class="img-responsive custom-img-size-index"
                        alt="Featured pattern image">
                </div>
                {% endif %}
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="author">Added by: {{post.author}}</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p class="index-likes"><i class="far fa-heart"></i> {{post.number_of_likes}}</p>
                        </div>
                    </div>
                    <div class="row panel-footer">
                        <div class="col-sm-12">
                            <a href="{% url 'pattern_detail' post.slug%}">
                                <p class="panel-excerpt">{{post.excerpt}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div><br>

    {% if my_patterns|length == 0 %}
    <div class="container-fluid logout-page text-center">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h1>You haven't shared any patterns yet!</h1>
                    <br>
                    <div>
                        <a href="{%url 'post_pattern' %}"><button class="btn btn-rounded pink-button">Post a new
                                pattern!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    {% if my_patterns|length >= 7 %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; prev</a>
            {% endif %}

            <span class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {%endif%}

    {%endblock%}