{% extends "base.html" %}

{% block content %}

{% block body_class %}
{% if page == 'pattern_detail' %}
pages-background
{% endif %}
{% endblock %}

<div class="container detailed-pattern-display">
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if 'placeholder' in post.featured_image.url %}
                <div class="col-lg-5 col-md-3 col-sm-6">
                    <div class="white-box text-center"><img
                            src="https://res.cloudinary.com/dbgnna5vv/image/upload/v1677756963/placeholder_makeitsew_zlh2qk.jpg"
                            class="img-responsive"></div>
                </div>
                {%else%}
                <div class="col-lg-5 col-md-3 col-sm-6">
                    <div class="white-box text-center"><img src="{{ post.featured_image.url }}" class="img-responsive">
                    </div>
                </div>
                {%endif%}
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h3 class="box-title mt-5 post-author-detailed">| {{post.title}} | by {{post.author}}</h3>
                    <br>
                    <h5 class="box-title mt-5">About</h5>
                    <p>{{post.description|safe}}</p>
                    <ul class="list-unstyled">
                        <li>Difficulty: {{post.get_difficulty_display}}</li>
                        <li>Suggested fabrics: {{post.get_suggested_fabrics_display}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="col-lg-7 col-md-7 col-sm-6">
            <div class="text-right">
                <button class="btn btn-primary btn-rounded download-button">Download pattern</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                {% for comment in post.comments.all %}
                <div class="bg-white p-2">
                    <div class="d-flex flex-column justify-content-start ml-2">
                        <span class="d-block font-weight-bold name">{{comment.name}}</span>
                        <br>
                        <span class="d-block font-weight-bold name">{{comment.created_on}}</span></div>
                    <div class="mt-2">
                        <p class="comment-text">{{comment.body}}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="bg-light p-2">
                    <textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                <br>
                <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post
                        comment</button></div>
            </div>
        </div>
    </div>
</div>
<br>
{%endblock%}