{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Post pattern form -->
<div class="container post-pattern-form">
    <!-- Display message after user posts a pattern -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} alert alert-success" role="alert" {% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <h1>Post a new pattern</h1>
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn pink-button pattern-submit-btn">Submit pattern</button>
</form>
</div>
{%endif%}
{%endblock%}